.card{
    background: #edc8f0 ;
    padding: 5%;
    box-shadow: 5px 5px;
    color: #000000;
}
.card-box button{
    background: #edc8f0 ;
    margin-bottom: 20px;
    
}
.card-box{
    background: #edc8f0 ;
    border-radius: 10px;

}
.product--image{
    
    width: 95%;
    padding-top: 2%;
}
.card button{
    cursor: pointer;
}
