

.navbar{
    
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    font-size: larger;
    font-weight: 200;
}
.text-container1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 5rem;
    padding-left: 2rem;
}
.text-container2{
    display: flex;
}
.text-container3{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}
.text{
    cursor: pointer;
    color: #000;
    text-decoration: none;
    display: block;
}
.search-container{
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid gray;
    
}
.search-container:hover{
   outline: 3px solid gray;
   border-bottom: none;
}
input{
    outline: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
}

.login-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
a.active{
    font-weight: 400;
    color: rgb(210, 170, 210);
}

/* .links{
    display: flex;
    flex-direction: row;
    height: 15%;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    

}
.links li{
    list-style-type: none;
    
}
.links li a{
    color: #000000 ;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;
} */

