.navbar{
    
    width: 100%;
}
.links{
    display: flex;
    flex-direction: row;
    height: 15%;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    

}
.links li{
    list-style-type: none;
    
}
.links li a{
    color: #000000 ;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;
}

.image{
    width: 100%;
}
.image img{
    width: 100%;
    height: 500px;
}